<mat-card>
    <mat-card-content>
        <div class="full-width">
            <div class="upload-input-width">
                <div class="upload-file-container-dnd file-input" appFileDnd > 
                   <!-- (fileDropped)="dropFile($event, ['.mp4', '.wav','.mp3','.m4a'], false)" > -->
                  <!-- <div *ngIf="!files?.length" class="dnd-div" id="dndDivPhone">
                    <i class="material-icons dnd-icon">input</i>
                    <span class="dnd-span">Įtempkite failą</span>
                  </div> -->
                  <div class="upload-file-container">
                    <mat-form-field class="upload-file-control">
                      <input id="hiddenFileInput" hidden type="file" accept=".wav"
                        (change)="fileChange($event.target)">
                      <input id="fileInput" matInput placeholder="Failas" readonly="true"
                        [(ngModel)]="selectedFileName" (click)="openInput()"
                        matTooltip="Pasirinkite tel. kokybės audio failą">
                    </mat-form-field>
                    <button class="upload-select-button" id="selectFileButton" mat-button (click)="openInput()">
                      <i class="material-icons">attachment</i>
                    </button>
                  </div>
                </div>
                <div class="audio-comp-div" [hidden]="!file">
                    <audio class="audio-comp" controls id="player"></audio>
                </div>
              </div>
              <div class="result-controls-container">
                <button class="synthesis-button" id="synthesisButton" mat-raised-button [disabled]="!file"
                  color="primary" (click)="transcribe()">Transkribuoti</button>
                <div class="result-container" *ngIf="sending">
                  <mat-progress-spinner id="synthesisSpinner" class="upload-spinner" color="primary" mode="indeterminate"
                    diameter="35">
                  </mat-progress-spinner>
                </div>
                <div class="result-container" id="errorDiv" *ngIf="!sending && errorText && errorText != ''">
                  <div class="error-container"><span class="error-text">{{errorText}} </span></div>
                </div>
                <div class="audio-container" [style.display]="(sending || (errorText && errorText !== '')) ? 'none' : 'flex'">
                  <div *ngIf="resultFile" class="download-button-div">
                    <button class="download-button" mat-raised-button *ngIf="resultFile"
                    color="primary" (click)="saveAs()"><i class="material-icons">cloud_download</i>Išsaugoti</button>
                  </div>
                </div>
              </div> 
        </div>
    </mat-card-content>
</mat-card>